{% extends "base.html" %}

{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Connectify</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>
<!-- Services-->
<section class="container">
    <div class="row">
        <div class="col-md-10 col-12">
            <h2>Loneliness</h2>
            <p>We all feel lonely from time to time. Feelings of loneliness are personal, so everyone's experience
                of loneliness will be different.
                One common description of loneliness is the feeling we get when our need for rewarding social
                contact and relationships is not met. But loneliness is not always the same as being alone.
                You may choose to be alone and live happily without much contact with other people, while others may
                find this a lonely experience.
                Feeling lonely isn't in itself a mental health problem, but the two are strongly linked. Having a
                mental health problem can increase your chance of feeling lonely.
            </p>
            <p>
                Older people are especially vulnerable to loneliness and social isolation – and it can have a
                serious effect on health. But there are ways to overcome loneliness, even if you live alone and find
                it hard to get out.
                People can become socially isolated for a variety of reasons, such as getting older or weaker, no
                longer being the hub of their family, leaving the workplace, the deaths of spouses and friends, or
                through disability or illness.
                Whatever the cause, it's shockingly easy to be left feeling alone and vulnerable, which can lead to
                depression and a serious decline in physical health and wellbeing.
                Someone who's lonely probably also finds it hard to reach out. There's a stigma surrounding
                loneliness, and older people tend not to ask for help because they have too much pride.
                It's important to remember loneliness can – and does – affect anyone, of any age.
            </p>
            <h4>Loneliness in Older People</h4>
            <p>
                It is often a myth that elderly people are incapable or unwilling to engage with technology to stay
                connected. Often times, a simple lack of awareness of what is available is the issue. 
            </p>
            <p>
                Here are ways
                for older people to connect with others, and feel useful and appreciated again.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <h2>Stay Connected</h2>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fab fa-skype"></i></span> Skype is a free service that allows you to make voice and
                    video calls to family, friends and colleagues. Install skype on your dektop or laptop<a
                        href="https://www.skype.com/en/get-skype/" target="_blank"> here</a>.</li>
                <li><span class="fa-li"><i class="fas fa-video"></i></span>  Zoom is another free voice and video calling service like
                    skype. It became extremly popular during the pandemic. Download Zoom at this <a
                        href="https://zoom.us/signup" target="_blank">link</a>.</li>
                <li><span class="fa-li"><i class="fab fa-facebook-f"></i></span> Facebook is a popular social media platform to connect and
                    stay up to date with friends and family. Sign up and create profile <a
                        href="https://www.facebook.com/" target="_blank">here</a>. </li>
                <li><span class="fa-li"><i class="fab fa-whatsapp"></i></span>  Whatsapp is a free messaging service used worldwide. You
                    can join groups with family, friends or clubs, as well as make voice and video calls. Download
                    for your mobile <a
                        href="https://play.google.com/store/apps/details?id=com.whatsapp&hl=en_IE&gl=US">here</a>.
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <h2>Find help</h2>
            <p>If loneliness is a real issue for you, there are always supports available foryou to turn to:
            </p>
            <ul>
                <li>In the UK,<a href="https://www.thesilverline.org.uk/" target="_blank">the SilverLine is a helpline for older people providing frienship support and information on local activities.</a></li>
                <li></li>
                <li>In Ireland, if you are over 60 years old and in need of advice, support or information, you can conntact <strong>Alone</strong> <a href="alone.ie">at their website</a> or by phone at 0818 222 024.</li>
                <li></li>
            </ul>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}