.row-space-evenly {
    justify-content: space-evenly;
}

.fa-ul>li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/landing.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}


.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.test-button {
    color: #fff;
    background-color: #f4623a;
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    margin-top: 50px;
}


/*---- Toasts  ----*/
.message-container {
    position: absolute;
    top: 140px;
    right: 15px;
    z-index: 9999999999;
}

.toast {
    overflow: visible;
    background-color: white;
    border: 3px solid #748B6F;
    border-radius: 8px;
}

.my-btn {
    background-color: #D05663;
    color: white;
    border: 1px solid black;
}

.image-container {
    height: 20vh;
    background: url(../images/header.png) no-repeat center center;
    background-size: cover;
    padding: 0;
}

.card {
    background-color: #C3CBD6;
}

.admin i,
.admin {
    color: #2A403D;
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
}

.admin:hover {
    color: #D05663;
}

.btn.cancel,
.read-btn {
    background-color: #748B6F;
    color: white;
    border: 1px solid black;
}

.cancel-link {
    color: #2A403D;
    text-decoration: none;
}

.my-btn:hover,
.cancel:hover {
    background-color: white;
    color: black;
}

@media(min-width:500px) {
    .image-container {
        height: 25vh;
        background: url(../images/header.png) no-repeat center -150px;
        background-size: cover;
        padding: 0;
    }
}

@media(min-width:750px) {
    .image-container {
        height: 30vh;
        background: url(../images/header.png) no-repeat center -220px;
        background-size: cover;
        padding: 0;
    }
}

@media(min-width:1000px) {
    .image-container {
        height: 40vh;
        background: url(../images/header.png) no-repeat center -300px;
        background-size: cover;
        padding: 0;
    }
}

@media(min-width:1300px) {
    .image-container {
        height: 40vh;
        background: url(../images/header.png) no-repeat center -400px;
        background-size: cover;
        padding: 0;
    }
}

/*---------Footer*/
.footer-container {
    --bs-gutter-x: 0;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
}

footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

footer a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

.footer-logo {
    color: rgba(255, 255, 255, 0.75);
    margin-left: 25px;
    font-size: 25px;
    padding: 15px;
}

.align-items-center {
    text-align: center;
}

.team-link {
    font-size: 25px;
    padding: 15px;
}

.footer-ul {
    display: list-item;
}



@media only screen and (max-width: 575px) {
    footer {
        height: auto;
        display: block;
        text-align: center;
    }

    .footer-ul {
        line-height: 2em;
    }

}


/*------Resources*/
.resources-hero {
    background: url(../images/resources-hero.jpg) no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-space-evenly {
    justify-content: space-evenly;
}

.resource-row {
    padding: 25px;
}

.resource-row li {
    margin-bottom: 15px;
}

.fa-ul>li {
    list-style-type: none;
}

.fa-li {
    left: -3em !important;
    font-size: 22px;
}

<<<<<<< HEAD
@media(max-width:500px){
=======
@media(max-width:500px) {
>>>>>>> sam
    .resources-hero {
        height: 25vh;
        background: url(../images/resources-hero.jpg) no-repeat center;
        background-size: cover;
        padding: 0;
<<<<<<< HEAD
    }
}

@media(max-width:750px){
=======
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:750px) {
>>>>>>> sam
    .resources-hero {
        height: 30vh;
        background: url(../images/resources-hero.jpg) no-repeat center;
        background-size: cover;
        padding: 0;
<<<<<<< HEAD
    }
}

@media(max-width:1000px){
=======
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:1000px) {
>>>>>>> sam
    .resources-hero {
        height: 40vh;
        background: url(../images/resources-hero.jpg) no-repeat center;
        background-size: cover;
        padding: 0;
<<<<<<< HEAD
    }
}

=======
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
>>>>>>> sam


/* Quiz page layout*/
.question {
    margin:0 auto;
    width:500px;
}
.question h3 {
    margin-bottom:0;
    background-color:white;
    height:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-top-left-radius: 16px;
    border-top-right-radius:16px;
}
.answers{
    text-align:left;
    background-color:whitesmoke;
    padding:1rem 0 0 .8rem;
    line-height:1.6rem;
    border-right-color:black;
    border-right:10px; 
    border-radius:0 0 16px 16px;
    box-shadow: 10px 10px 5px black;
    
}

.answers label:hover{
    color:darkgreen;
    background-color:white;
    font-weight: 600;
} 

#buttons {
    margin:0 auto;
    width:450px;
}

#submit,#restart {
    margin:0 auto;
    display:inline-block;
    padding: 0 15px 20px 15px;
}

#submit{
    float:left;
}
#restart{
    float:right;
}