
body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

/*---------Footer*/
.footer-container{
    --bs-gutter-x: 0;
}

footer{
    position:absolute;
    width: 100%;
    height: 100px;
    display: flex;
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.footer-logo{
    color: rgba(255, 255, 255, 0.55);
    margin-left: 25px;
    font-size: 25px;
    padding: 15px;
}

.footer-ul{
    display: list-item;
}

@media only screen and (max-width: 450px){
    footer{
        height:auto;
        display: block;
        text-align: center;
    }

    .footer-ul{
        line-height: 2em;
    }
    
}

@media only screen and (min-width: 1400px){
    footer{
        bottom: 0;
    }
}

/*------Resources*/
.row-space-evenly{
    justify-content: space-evenly;
}

.resource-row{
    padding: 25px;
}

.resource-row li{
    margin-bottom: 15px;
}

.fa-ul > li{
  list-style-type: none;
}

.fa-li{
    left:-4em !important;
}
