{% extends 'base.html' %}

{% load static %}


{% block content %}
        <section id="questionnaire">
                <div class="container py-5">
                        <h1>Scenario's</h1>
                        <p><em>Select the nearest option you will chose to the given example;</em></p>
                        <form action="post" id="quizForm"></form>
                        <div id="resultsSection" class="my-5 px-5">
                                <ul id="suggestionList"></ul>
                        </div>
                </div>
        </section>
{% endblock %}

{% block postloadjs %}
        <script src="{% static 'js/quiz.js' %}"></script>
{% endblock %}