<div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <h3 class="me-auto mt-3 mb-1"> Information! </h3>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-center">
      {{ message }}
    </div>
    <div class="text-center">
     <a class="btn my-btn hover text-center mb-3" data-bs-dismiss="toast" aria-label="Close"> Close</a>
    </div>
  </div>